.games-grid{
display:grid;
grid-template-columns:repeat(auto-fill,200px);
gap:20px;
justify-content:center;
margin-top:40px;
}

.game-box{
background:#222;
color:white;
padding:30px;
border-radius:10px;
text-align:center;
text-decoration:none;
font-size:20px;
transition:0.3s;
}

.game-box:hover{
transform:scale(1.1);
background:#3742fa;
}
.game-grid{
display:flex;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
}

.game-card{
background:#222;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.5);
width:320px;
}
.game-card:hover{
transform:scale(1.05);
transition:0.3s;
}
#pongCanvas{
background:black;
border:2px solid white;
display:block;
margin-top:10px;
}
body{
padding-top:70px;
font-family:Arial, sans-serif;
background:#111;
color:white;
}
button{
padding:8px 14px;
background:#3742fa;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#2f36c7;
}



.important {
  color: red;
  font-weight: bold;
}

h1{
color: #3742fa;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background: black;
padding:15px 30px;
position:fixed;
top:0;
width:100%;
z-index:1000;
}

.logo{
color:blue;
font-size:22px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:20px;
}

.nav-links a{
color: #3742fa;
text-decoration:none;
padding:8px 12px;
border-radius:6px;
}

.nav-links a:hover{
background: black;
} 

.hamburger{
display:none;
font-size:28px;
color: blue;
cursor:pointer;
}

@media (max-width:768px){

.nav-links{
display:none;
flex-direction:column;
background: black;
position:absolute;
top:60px;
right:0;
width:200px;
}

.nav-links.active{
display:flex;
}

.hamburger{
display:block;
}

}
