.important {
  color: red;
  font-weight: bold;
}

h1, h2, h3 {
  color: blue;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 15px 30px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #1b5e20;
}
.navbar{
  position: fixed;
  top: 0;
  width: 98%;
  backgroud: #222
  z-index: 1000;
}

body{
  padding-top: 70px;
}
