.important {
  color: red;
  font-weight: bold;
}

h1, {
  color: blue;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
padding:15px 30px;
position:fixed;
top:0;
width:100%;
z-index:1000;
}

.logo{
color:blue;
font-size:22px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:20px;
}

.nav-links a{
color:blue;
text-decoration:none;
padding:8px 12px;
border-radius:6px;
}

.nav-links a:hover{
background:#444;
} 

body{
  padding-top: 70px;
}
.hamburger{
display:none;
font-size:28px;
color: blue;
cursor:pointer;
}

@media (max-width:768px){

.nav-links{
display:none;
flex-direction:column;
background:#111;
position:absolute;
top:60px;
right:0;
width:200px;
}

.nav-links.active{
display:flex;
}

.hamburger{
display:block;
}

}
